<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Data Visualization Page</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/style.css') }}">
    <link href="https://fonts.googleapis.com/css?family=Vidaloka|Shrikhand" rel="stylesheet">

    <script src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.min.js"></script>
    <script type="text/javascript" src="{{ url_for('static',filename='js/chart.js') }}"></script>

</head>
<body>

    <div class="header">
        <span class="title">Bullpen Tracker</span>
        <a class="logout_link" id="logout_btn" href="/logout">Logout</a>
    </div>

    <button class="back_btn" onclick="location.href='/'">Back</button>

    <div class="form_div">
        <form id="chart_form">
            <span>Statistic Measures:&nbsp</span><select id="stat_select"></select>
            <span>Bullpen Types:&nbsp</span><select id="type_select"></select>
            <span>Bullpen Sessions:&nbsp</span><select id="session_select"></select>
        </form>
    </div>

    <div class="chart_container">
        <div class="loader"></div>
    </div>

</body>
</html>