<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>BullpenTracker</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/style.css') }}">

    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/bootstrap.min.css') }}">
    <script type="text/javascript" src="{{ url_for('static',filename='js/jquery.js') }}"></script>
	<script type="text/javascript" src="{{ url_for('static',filename='js/script.js') }}"></script>

    <link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon/favicon.ico') }}">

</head>
<body>

    <div class="header">
        <span class="title">Bullpen Tracker</span>
        <a class="logout_link" id="logout_btn" href="/logout">Logout</a>
    </div>

    <div id="home-container" class="container-fluid big-body">
        
        <div class="profile">
            <!--<img id="profile_pic" src="" title="Profile Pic">-->
            <h1 class="pitcher_name"></h1><br>
            <h3 class="throw_side"></h3>
        </div><br>

        <hr>

        <div class="data row">
            <button id="stats_btn" class="home_btn col-md-4 offset-md-1" onclick="location.href='/stats'">View Data</button>
            <button id="data_entry_btn" class="home_btn col-md-4 offset-md-2" onclick="location.href='/track'">Data Entry</button>
        </div><br>
        <div class="row" >
            <b id="summary" class="col-md-6 offset-md-3">Stats Summary</b>
            <!--<i id="complete_stats"><a href="/stats">View Complete Stats</a></i>-->
        </div>
        <div class="summary row">
            <table class="summary_table col-md-6 offset-md-3"></table>
        </div>

    </div>

     <div class="footer navbar-fixed-bottom">
        <!-- <span></span> -->
        <!-- <a class="logout_link" id="logout_btn" href="/logout">Logout</a> -->
    </div>


    
</body>
</html>