<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>BullpenTracker Login Page</title>
    <link rel="stylesheet" type="text/css" href="style.css">
    <link href="https://fonts.googleapis.com/css?family=Shrikhand" rel="stylesheet">

    <script src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous"></script>
	<script type="text/javascript" src="login.js"></script>

</head>
<body>
    <div class="header">
        <span class="title">Bullpen Tracker</span>
        <form action="" method="POST" id="login_form" class="login_logout">
            <span class="column" id="login_btn"><input type="submit" value="Sign In" name="login_btn"></span>
            <span class="column">Password:<br><input type="password" name="password"></span>
            <span class="column">Username:<br><input type="text" name="username"></span>
        </form>
    </div>


    <div class="overview">
        <h1>Overview</h1>

        <div class="blurb">
            <h2>Stop Wasting Pitches,</h2>
            <h3>Track Them.</h3>

            <p>
                High level baseball teams have been tracking
            </p>
            <a href="https://en.wikipedia.org/wiki/Baseball_statistics#Pitching_statistics">pitching stats</a>
            <p>
                for decades to gain a competitive advantage through rigorous mathematical analysis.
                However this advantage should not be reserved only for top-tier teams.
                <i class="bpt-emph">Bullpen Tracker</i> is an iOS app for recording your bullpens, giving pitching insight
                    and tracking improvement regardless of your skill level.
                Find out where you excel and how you can improve by collecting valuable data each time you pitch.
            </p>
        </div><br>
        <h3>Start Tracking Now!</h3>
        <a href="sign_up.html">Sign Up!</a>
    </div>
</body>
</html>