<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>BullpenTracker</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/style.css') }}">

    <script type="text/javascript" src="{{ url_for('static',filename='js/jquery.js') }}"></script>
	<script type="text/javascript" src="{{ url_for('static',filename='js/login.js') }}"></script>

    <link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon/favicon.ico') }}">

</head>
<body>
    <div class="header">
        <span class="title">Bullpen Tracker</span>
        <form id="login_form">
            <span class="column" id="login_btn"><input type="submit" value="Sign In" name="login_btn"></span>
            <span class="column">Password:<br><input type="password" name="password"></span>
            <span class="column">Email:<br><input type="text" name="email"></span>
        </form>
    </div>


    <div class="overview big-body">
        <h1></h1><br>

        <div class="blurb">
            <h2>Stop Wasting Pitches,</h2>
            <h3>Track Them.</h3>

            <p>
                High level baseball teams have been tracking
            </p>
            <a href="https://en.wikipedia.org/wiki/Baseball_statistics#Pitching_statistics">pitching stats</a>
            <p>
                for decades to gain a competitive advantage through rigorous mathematical analysis.
                However, this advantage should not be reserved only for top-tier teams.
                <i class="bpt-emph">Bullpen Tracker</i> is an iOS app and web interface for recording your bullpens, giving pitching insight,
                    and tracking improvement regardless of your skill level.
                Find out where you excel and how you can improve by collecting valuable data every time you pitch.
            </p>
        </div><br>
        <h3>Start Tracking Now!</h3>
        <a id="sign_up" href="/signup">Sign Up!</a>
    </div>
    <div class="footer navbar-fixed-bottom">
        <!-- <span></span> -->
        <!-- <a class="logout_link" id="logout_btn" href="/logout">Logout</a> -->
    </div>
</body>
</html>