<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sign Up Page</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='style.css') }}">
    <link href="https://fonts.googleapis.com/css?family=Shrikhand" rel="stylesheet">
</head>
<body>
    <div class="header">
        <span class="title">Bullpen Tracker</span>
    </div>

    <div>
        <form name="sign_up_form" class="sign_up">
            <span class="row">Username:<input type="text" id="username"></span><br><br>
            <span>Password:<input type="password" id="password"></span><br><br>
            <span>Confirm Password:<input type="password" id="confirm_password"></span><br><br>
            <span id="sign_up_btn"><input type="submit" value="Sign Up"></span>
        </form>
    </div>
</body>
</html>