<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>BullpenTracker Signup</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/style.css') }}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Shrikhand" rel="stylesheet">

    <script src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous"></script>
    <script type="text/javascript" src="{{ url_for('static',filename='js/login.js') }}"></script>


</head>
<body>
    <div class="header">
        <span class="title">Bullpen Tracker</span>
    </div>

    

    <div class="container">
        


        
        <form name="sign_up_form" class="sign_up">
            


            <div class="row signup-fields">

                <div id="signup-blurb" class="col-md-5">
                    <h1>Create Your BullpenTracker Profile</h1>
                    <br>
                    <p>Sign up for a free account and start tracking new bullpens immediately online, or download our iOS app (WIP). Once you have collected some data, use our numerous custom visualizations of your pitching trends to patch vulnerabilities and reveal hidden strengths.</p>

                    <br>
                    <p>Already have an account? </p><a style="display: inline;" href="/login">Click here to log in</a><p style="display: inline;"> </p>

                </div>


                <div class="col-md-7">
                

                    <div class="row">

                        <div id="signup-alert" class="alert alert-danger col-md-12" style="display: none;"></div>

                        <div class="col-md-6">

                            <div class="form-group">
                                <label for="fname">First Name</label><br>
                                <input type="text" id="fname">
                            </div>
                            <div class="form-group">
                                <br><label for="lname">Last Name</label><br>
                                <input type="text" id="lname">
                            </div>

                                <br>
                                <label> Throwing Side</label>
                                <br>
                                <label class="radio-inline">
                                    <input type="radio" name="throwSide" id="throwSideR" value="R"> <em>R</em>&nbsp;&nbsp;&nbsp;&nbsp;
                                </label>
                                <label class="radio-inline">
                                    <input type="radio" name="throwSide" id="throwSideL" value="L"> <em>L</em>
                                </label>
                     

                        </div>

                        <div class="col-md-6">
                            
                             <div class="form-group">
                                <label for="email">Email</label><br>
                                <input type="text" id="email">
                            </div>
                            <div class="form-group">
                                <br><label for="password">Password</label><br>
                                <input type="password" id="password">
                            </div>
                            <div class="form-group">
                                <br><label for="password">Confirm Password</label><br>
                                <input type="password" id="confirm_password">
                            </div>

                        </div>

                        

                        <div class="col-md-12">
                            <br>
                            <button id="signup_btn" type="submit" class="btn-default" name="signup_btn">Sign Up</button>
                        </div>

                    </div>

                </div>

            </div>
            
            <br>
            
            

        </form>
    </div>
</body>
</html>