body {
    margin: 0;
    font-family: 'Arial', serif;
}

.header {
    background-color: #01426A;
    color: #FFFFFF;
    top:0;
    width: 100%;
    position: relative;
}

.column {
    width: 140px;
    margin-right: 20px;
    float: right;
}

#login_btn {
    margin-top: 15px;
    width: 50px;
    padding: 5px;
}

.title {
    font-size: 2.5rem;
    font-family: 'Shrikhand', cursive;
    padding-left: 10px;
}

#login_form {
    font-size: 1.2rem;
    font-family: 'Arial', serif;
    position: absolute;
    right: 0px;
    top: 5px;
    float: right;
}

.logout_link {
    font-size: 1.2rem;
    font-family: 'Arial', serif;
    color: white;
    text-decoration: none;
    position: absolute;
    right: 20px;
    top: 20px;
}

.sign_up {
    text-align: right;
    font-size: 1.5rem;
    font-family: 'Arial', serif;
    margin-top: 50px;
}

#signup_btn{
    width: 150px;
    margin-bottom: 100px;
}
.signup-fields input[type=radio] {
    width: 20px;
    height: 20px;
}
#signup-alert{
    text-align: center;
    margin-bottom: 50px;
}
#signup-blurb{
    margin-left: -100px;
    margin-right: 100px;
    text-align: center;
    padding-right: -50px;
}

.overview {
    font-family: 'Arial', serif;
    text-align: center;
    margin-top: 25px;
    margin-left: 20%;
    margin-right: 20%;
}

.profile #profile_pic {
    float: left;
    margin-left: 5%;
    margin-top: 5px;
    width: 80px;
    height: 80px;
}

.profile .pitcher_name {
    margin-left: 10%;
    margin-top: 40px;
    margin-bottom: 0px;
}

.profile .throw_side {
    font-size:1.5rem;
    color: black;
    margin-left: 10%;
    margin-top: 0;
    margin-bottom: 10px;
}

.data button {
    font-size: 2rem;
    font-family: 'Arial', normal;
    width: 30%;
    padding: 15px;
    margin: 3% 9.9%;
    cursor: pointer;
}

button:hover {
    background-color: #01426A;
    color: white;
    border: none;
    box-shadow: 10px 10px 10px rgba(80,80,80,0.5);
}

.summary {
    margin-left: 31%;
    margin-bottom: 150px;

}

b#summary {
    font-size: 1.5rem;
}

#complete_stats a {
    text-decoration: none;
    color: blue;
}

i#complete_stats {
    margin-left: 260px;
    margin-top: 8px;
}

.summary_table {
    width:600px;
	border: 1px solid black;
	border-collapse: collapse;
}

.summary_table th {
    width:35%;
}

.summary_table th, td {
    height:25px;
    border: 1px solid black;
    text-align: center;
}

div.blurb{
    padding-top: 0;
    width: 100%;
}
div.blurb h2{
    margin-top:0;
    font-family: 'Arial', 'serif';
    color: #101010;
    font-size: 4vw;
    font-weight: lighter;
}

div.blurb h3{
    margin-top: -3%;
    font-family: 'Arial', 'serif';
    color: #606060;
    font-size: 3.5vw;
    font-weight: lighter;
    font-style: italic;
    margin-bottom: 3.5%;
}

div.blurb p{
    font-family: 'Arial', 'serif';
    color: #000000;
    font-size: 1.5vw;
    display: inline;
}

div.blurb p .bpt-emph {
    color: #01426A;
    font-weight: normal;
}

div.blurb a {
    font-family: 'Arial', 'serif';
    font-size: 1.5vw;
    display: inline;
}

#sign_up {
    font-size: 2vw;
}

.back_btn {
    padding: 10px;
    font-size: 1.4rem;
    float: left;
    margin-top: 20px;
    margin-left: 20px;
    border-radius: 12px;
    text-decoration: none;
    font-family: 'Arial', serif;
    font-weight: normal;
    cursor: pointer;
}

canvas {
    width: 80%;
    margin: 100px;
}

.form_div {
    margin-top: 40px;
    margin-right: 40px;
    text-align:right;
}

#chart_form select {
    font-size: 14px;
}

#chart_form span {
    margin-left: 40px;
    font-size: 20px;
}
#start-session{
    margin-top: 100px;
}

#start-session > select{
    text-align: center;
    width: 200px;
    height: 30px;
}
#start-session > button{
    margin-top: 50px;
    width: 180px;
    height: 100px;
}
.coords{
    margin-top: 50px;
}
#input-status{
    margin-bottom: 50px;
}


.loader {
    border: 24px solid #aaa;
    border-radius: 50%;
    border-top: 24px solid #01426A;
    margin-left: 45%;
    margin-top: 10%;
    width: 80px;
    height: 80px;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}